<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nn-no">
<head>
    <th:block th:replace="~{fragments/layout :: base_head_fragment}"></th:block>
    <title>Legg til bevistype | Bevisgenerator</title>
</head>

<body>
<header th:replace="~{fragments/layout :: page_header_fragment}"></header>

<main id="main-content" tabindex="-1">
    <div class="landing-intro">
        <h1 class="ds-heading" data-size="xl">
            Legg til bevistype
        </h1>
    </div>
    <div class="content-narrow">
        <p class="ds-paragraph ds-alert">Det kan ta inntil eitt minutt før bevisdefinisjonen er oppdatert hos utferdaren.</p>
        <div class="ds-alert" data-color="info">
            <p class="ds-paragraph">Gyldige verdiar for <code>type</code> (datatypar) er:</p>
            <ol>
                <li><code>string</code>: for tekst</li>
                <li><code>boolean</code>: for boolske verdiar (true/false)</li>
                <li><code>number</code>: positive tal (Java Integer: 2³¹ - 1)</li>
                <li><code>iso_date</code>: ISO 8601-formatet YYYY-MM-DD som string, til dømes "2026-12-31"</li>
                <li><code>iso_date_time</code>: ISO 8601-formatet YYYY-MM-DDThh:mm:ssZ som string, til dømes "2025-11-10T10:30:00Z"</li>
                <li><code>binary</code>: for binære data, til dømes bilete, som er base64-koda. <code>mime_type</code> gjeld
                    berre for binary-typen og må oppgjevast som medietype i tråd med <a class="ds-link content-link" href="https://www.rfc-editor.org/rfc/rfc2397.html">RFC 2397</a>.
                    Standardverdien er "image/png" for SD-JWT, og attributtet blir ikkje brukt for MDoc.
                </li>
            </ol>
            <p class="ds-paragraph">Dersom <code>type</code> ikkje er oppgjeven, blir string brukt som standardverdi.
            </p>
        </div>
    </div>

    <form class="form-container content-narrow"
          th:fragment="add_attributes_form_fragment"
          id="add_attributes_form"
          th:action="@{/add-credential}"
          th:object="${addCredentialForm}"
          method="POST">

        <div class="ds-field">

            <label class="ds-label" for="credentialType">ID (credentialType)</label>

            <input class="ds-input"
                   type="text"
                   id="credentialType"
                   th:field="*{credentialType}"
                   th:attrappend="aria-invalid=${#fields.hasErrors('credentialType')} ? 'true' : null,
                                  aria-describedby=${#fields.hasErrors('credentialType')} ? 'credentialType-error' : null">

            <div th:if="${#fields.hasErrors('credentialType')}" id="credentialType-error">
                <div class="ds-validation-message"
                     data-field="validation"
                     th:each="error : ${#fields.errors('credentialType')}" th:text="${error}">
                </div>
            </div>
        </div>

        <div class="ds-field">
            <label class="ds-label" for="json">
                Bevisstruktur
            </label>
            <textarea type="text"
                      id="json"
                      class="ds-input json-editor"
                      th:field="*{json}"></textarea>
        </div>


        <button class="ds-button"
                type="submit"
                form="add_attributes_form"
                data-variant="primary">
            Legg til bevistype
        </button>
    </form>


</main>

<footer th:replace="~{fragments/layout :: page_footer_fragment(issuer=${issuerUrl})}"></footer>
</body>
</html>