<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nn-no">
<head>
    <th:block th:replace="~{fragments/layout :: base_head_fragment}"></th:block>
    <title th:text="${'Start utferding av ' + credentialConfiguration.description + ' | Bevisgenerator'}">
        Start utferding | Bevisgenerator
    </title>
</head>

<body>
<header th:replace="~{fragments/layout :: page_header_fragment}"></header>

<main id="main-content" tabindex="-1">
    <div class="landing-intro landing-copy">
        <h1 class="ds-heading" data-size="xl">
            Start utferdig av bevis
        </h1>
        <p class="ds-paragraph"
           data-size="lg"
           th:text="|Start utferdig av ${credentialConfiguration.description} med Digdir sin generelle utferdar (issuer)|">
        </p>
    </div>

    <div class="step-flow">
        <form th:fragment="send_attributes_form_fragment"
              id="send_attributes_form"
              class="form-container content-narrow"
              th:action="@{/start-issuance/{id}(id = ${credentialConfiguration.credentialConfigurationId})}"
              th:object="${startIssuanceForm}"
              method="POST">

            <div class="ds-field" th:if="${credentialConfiguration.personIdentifier()}">
                <label for="person_identifier"
                       data-weight="medium"
                       class="ds-label">
                    Personidentifikator
                </label>
                <input id="person_identifier"
                       placeholder=""
                       class="ds-input"
                       th:field="*{personIdentifier}" />
            </div>

            <div class="ds-field">
                <label for="eaa_data_field"
                       data-weight="medium"
                       class="ds-label">
                    Attributter for utferding av bevis (i JSON-format)
                </label>
                <textarea id="eaa_data_field"
                          placeholder=""
                          class="ds-input json-editor"
                          th:field="*{json}">
                    </textarea>
            </div>

        </form>

        <div th:replace="~{fragments/components :: step_navigation_fragment(
            previousHref='/issue',
            previousLabel='Vel bevistype',
            nextHref=${null},
            nextLabel='Start utferding av bevis',
            nextForm='send_attributes_form',
            nextDisabledUntilSelection=${false},
            dynamicNextForm=${false},
            nextColor=${null}
        )}"></div>
    </div>
</main>

<footer th:replace="~{fragments/layout :: page_footer_fragment(issuer=${issuerUrl})}"></footer>
</body>
</html>