<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" th:content="#{no_idporten_htmlheader_description}">
    <meta name="keywords" th:content="#{no_idporten_themed_htmlheader_keywords}">
    <meta name="language" th:content="#{no_idporten_common_currentlang}">
    <link th:href="@{/css/idp-style-0.7.32.min.css}" rel="stylesheet">
    <script th:src="@{/js/idp-script-0.7.32.min.js}"></script>
    <title th:text="#{no_idporten_themed_htmlheader_title}"></title>
</head>
