<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">
    <div class="top-bar">
        <div class="top-bar__container">
            <div class="top-bar__left">
                <img class="top-bar__logo" th:src="@{/img/logo/logo-idporten.svg}"
                     th:alt="#{no_idporten_themed_logo_alt}">
                <img class="top-bar__logo--mobile" th:src="@{/img/logo/logo-idporten-bare.svg}"
                     th:alt="#{no_idporten_themed_logo_alt}">
            </div>
        </div>
    </div>
</header>
