<div th:fragment="back_link_fragment(href)">
        <a th:href="@{${href}}"
           class="ds-link"
           data-color="neutral"
           style="text-decoration: none; --dsc-link-color: var(--ds-color-neutral-text-subtle); --dsc-link-color--visited: var(--ds-color-neutral-text-subtle);">
            <span style="display: flex; align-items: center; justify-content: flex-start;">
                <svg aria-hidden="true"
                     width="20"
                     height="20"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round">
                    <path d="M19 12H5"></path>
                    <path d="m12 19-7-7 7-7"></path>
                </svg>
            <span>Tilbake</span>
            </span>
        </a>
</div>